extends layout

block content
  h1= title
  p #{gpDetails.Name}
  p #{gpDetails.Address.Line1}
  p #{gpDetails.Address.Line2}
  p #{gpDetails.Address.Line3}
  p #{gpDetails.Address.Line4}
  p #{gpDetails.Address.Postcode}
